@utility card {
  background-color: var(--color-surface-surfaces);
  border: 1px solid var(--color-border-primary);
  border-radius: var(--radius-sm);
  padding: var(--spacing-sm);
  box-sizing: border-box;

  @variant md {
    padding: var(--spacing-md);
  }
}
