@utility popover-content {
  padding: var(--spacing-md);
  box-sizing: border-box;

  /* border */
  border: 1px solid var(--color-border-primary);
  border-radius: var(--radius-sm);

  background-color: var(--color-surface-surfaces);
  color: var(--color-text-body);

  position: relative;
  z-index: 50;
  inline-size: 100%;
  max-inline-size: 400px;

  transform-origin: var(--radix-popover-content-transform-origin);

  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

@utility popover-content-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing-xxs);
}

@utility popover-header {
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-xs);
}

@utility popover-close {
  /* TODO: Replace this with a icon-btn with an xs variant  */

  inline-size: 1.5rem;
  block-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius-full);
  cursor: pointer;

  & > svg {
    inline-size: 1.25rem;
    block-size: 1.25rem;
    margin: auto;
  }
}
