@utility command {
  inline-size: 100%;
  block-size: 100%;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  border-radius: var(--radius-sm);
  background-color: var(--color-surface-surfaces);
  color: var(--color-text-body);
}

@utility command-input-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  border-bottom: 1px solid var(--color-border-primary);

  padding-inline: var(--spacing-sm);
}

@utility command-input-icon {
  inline-size: 16px;
  block-size: 16px;
  flex-shrink: 0;
  color: var(--color-text-body);
  opacity: 0.5;
}

@utility command-input {
  display: flex;
  inline-size: 100%;
  block-size: 40px;
  border-radius: var(--radius-sm);
  color: var(--color-text-body);

  padding-block: var(--spacing-sm);
  font-size: var(--text-label);

  outline: 2px solid transparent;
  outline-offset: 2px;

  &::placeholder {
    color: var(--color-text-body);
    opacity: 0.5;
  }

  @variant disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@utility command-list {
  scroll-padding-block: calc(var(--spacing-xxs));
  overflow-x: hidden;
  overflow-y: auto;
  inline-size: 100%;
  max-block-size: calc(30px * 6);

  &:has(.command-list-full-width) {
    max-inline-size: 300px;
  }
}

@utility command-empty {
  text-align: center;
  font-size: var(--text-label);
  padding: var(--spacing-lg);
}

@utility command-group {
  color: var(--color-text-body);
  overflow: hidden;
  padding: var(--spacing-xxs);
  & [cmdk-group-heading] {
    color: var(--color-text-body);
    opacity: 0.5;
    padding-inline: var(--spacing-xs);
    padding-block: var(--spacing-xxs);
    font-size: var(--text-xs);
    font-weight: 500;
  }
}

@utility command-separator {
  background-color: var(--color-border-primary);
  height: 1px;
  margin-inline: calc(var(--spacing-xxs) * -1);
}

@utility command-item {
  position: relative;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs);

  border-radius: var(--radius-sm);
  padding-inline: var(--spacing-xs);
  padding-block: var(--spacing-xxs);

  font-size: var(--text-label);

  outline: 2px solid transparent;
  outline-offset: 2px;
  user-select: none;

  @variant hover {
    background-color: color-mix(
      in srgb,
      var(--color-surface-brand) 6%,
      transparent
    );
  }

  &[data-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }
  & svg {
    pointer-events: none;
    flex-shrink: 0;
    inline-size: 16px;
    block-size: 16px;
    color: var(--color-brand-secondary);
    margin-inline-end: var(--spacing-xs);
    opacity: 0;
  }
}
@utility command-item-selected {
  background-color: color-mix(
    in srgb,
    var(--color-surface-brand) 6%,
    transparent
  );

  & svg {
    opacity: 1;
  }
}
