/* Variables declaration */
@utility calendar-root-vars {
  --rdp-accent-color: var(
    --color-brand-primary
  ); /* The accent color used for selected days and UI elements. */
  --rdp-accent-background-color: color-mix(
    in srgb var(--color-brand-primary) 50%,
    transparent
  ); /* The accent background color used for selected days and UI elements. */

  --rdp-day-height: 44px; /* The height of the day cells. */
  --rdp-day-width: 44px; /* The width of the day cells. */

  --rdp-day_button-border-radius: 100%; /* The border radius of the day cells. */
  --rdp-day_button-border: 2px solid transparent; /* The border of the day cells. */
  --rdp-day_button-height: 42px; /* The height of the day cells. */
  --rdp-day_button-width: 42px; /* The width of the day cells. */

  --rdp-selected-border: 2px solid var(--rdp-accent-color); /* The border of the selected days. */
  --rdp-disabled-opacity: 0.5; /* The opacity of the disabled days. */
  --rdp-outside-opacity: 0.25; /* The opacity of the days outside the current month. */
  --rdp-today-color: var(
    --color-brand-secondary
  ); /* The color of the today's date. */

  --rdp-dropdown-gap: 0.5rem; /* The gap between the dropdowns used in the month captons. */

  --rdp-months-gap: 2rem; /* The gap between the months in the multi-month view. */

  --rdp-nav_button-disabled-opacity: 0.5; /* The opacity of the disabled navigation buttons. */
  --rdp-nav_button-height: 2rem; /* The height of the navigation buttons. */
  --rdp-nav_button-width: 2rem; /* The width of the navigation buttons. */
  --rdp-nav-height: 2.75rem; /* The height of the navigation bar. */

  --rdp-range_middle-background-color: color-mix(
    in srgb,
    var(--rdp-accent-color) 10%,
    transparent
  ); /* The color of the background for days in the middle of a range. */
  --rdp-range_middle-color: inherit; /* The color of the range text. */

  --rdp-range_start-color: var(
    --color-brand-primary-foreground
  ); /* The color of the range text. */
  --rdp-range_start-background: linear-gradient(
    var(--rdp-gradient-direction),
    transparent 50%,
    var(--rdp-range_middle-background-color) 50%
  ); /* Used for the background of the start of the selected range. */
  --rdp-range_start-date-background-color: var(
    --rdp-accent-color
  ); /* The background color of the date when at the start of the selected range. */
  --rdp-range_end-background: linear-gradient(
    var(--rdp-gradient-direction),
    var(--rdp-range_middle-background-color) 50%,
    transparent 50%
  ); /* Used for the background of the end of the selected range. */
  --rdp-range_end-color: white; /* The color of the range text. */
  --rdp-range_end-date-background-color: var(
    --rdp-accent-color
  ); /* The background color of the date when at the end of the selected range. */

  --rdp-week_number-border-radius: 100%; /* The border radius of the week number. */
  --rdp-week_number-border: 2px solid transparent; /* The border of the week number. */

  --rdp-week_number-height: var(
    --rdp-day-height
  ); /* The height of the week number cells. */
  --rdp-week_number-opacity: 0.75; /* The opacity of the week number. */
  --rdp-week_number-width: var(
    --rdp-day-width
  ); /* The width of the week number cells. */
  --rdp-weeknumber-text-align: center; /* The text alignment of the weekday cells. */

  --rdp-weekday-opacity: 0.75; /* The opacity of the weekday. */
  --rdp-weekday-padding: 0.5rem 0rem; /* The padding of the weekday. */
  --rdp-weekday-text-align: center; /* The text alignment of the weekday cells. */

  --rdp-gradient-direction: 90deg;

  --rdp-animation_duration: 0.3s;
  --rdp-animation_timing: cubic-bezier(0.4, 0, 0.2, 1);
}

@utility calendar-root {
  inline-size: fit-content;
  position: relative;
  box-sizing: border-box;
  background-color: var(--color-surface-background);

  &[dir='rtl'] {
    --rdp-gradient-direction: -90deg;
  }

  &[data-broadcast-calendar='true'] {
    --rdp-outside-opacity: unset;
  }

  & * {
    box-sizing: border-box;
  }
}

@utility calendar-day {
  width: var(--rdp-day-width);
  height: var(--rdp-day-height);
  text-align: center;
}

.calendar-day:not(.calendar-selected):not(.calendar-disabled):hover {
  border-radius: var(--radius-full);
  background-color: color-mix(
    in srgb,
    var(--color-surface-hover) 50%,
    transparent
  );
}

@utility calendar-day_button {
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  color: inherit;
  justify-content: center;
  align-items: center;
  display: flex;

  width: var(--rdp-day_button-width);
  height: var(--rdp-day_button-height);
  border: var(--rdp-day_button-border);
  border-radius: var(--rdp-day_button-border-radius);

  @variant disabled {
    cursor: revert;
  }
}

@utility calendar-caption_label {
  z-index: 1;

  position: relative;
  display: inline-flex;
  align-items: center;

  white-space: nowrap;
  border: 0;
}

.calendar-dropdown:focus-visible ~ .calendar-caption_label {
  outline: 5px auto Highlight;
  /* biome-ignore lint/suspicious/noDuplicateProperties: backward compatibility */
  outline: 5px auto -webkit-focus-ring-color;
}

@utility calendar-button_next {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  appearance: none;

  width: var(--rdp-nav_button-width);
  height: var(--rdp-nav_button-height);

  @variant disabled {
    cursor: revert;
    opacity: var(--rdp-nav_button-disabled-opacity);
  }

  &[aria-disabled='true'] {
    cursor: revert;
    opacity: var(--rdp-nav_button-disabled-opacity);
  }
}
@utility calendar-button_previous {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  appearance: none;

  width: var(--rdp-nav_button-width);
  height: var(--rdp-nav_button-height);

  @variant disabled {
    cursor: revert;
    opacity: var(--rdp-nav_button-disabled-opacity);
  }

  &[aria-disabled='true'] {
    cursor: revert;
    opacity: var(--rdp-nav_button-disabled-opacity);
  }
}

@utility calendar-chevron {
  display: inline-block;
  stroke: var(--rdp-accent-color);
}

@utility calendar-chevron-svg {
  inline-size: 20px;
  block-size: 20px;
}

.calendar-root[dir='rtl'] .calendar-nav .calendar-chevron {
  transform: rotate(180deg);
  transform-origin: 50%;
}

@utility calendar-dropdowns {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: var(--rdp-dropdown-gap);
}

@utility calendar-dropdown {
  z-index: 2;

  /* Reset */
  opacity: 0;
  appearance: none;
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: inherit;
  border: none;
  line-height: inherit;
}

@utility calendar-dropdown_root {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.calendar-dropdown_root[data-disabled='true'] .calendar-chevron {
  opacity: var(--rdp-disabled-opacity);
}

@utility calendar-month_caption {
  display: flex;
  align-content: center;
  height: var(--rdp-nav-height);
  font-weight: bold;
  font-size: large;
}

.calendar-root[data-nav-layout='around'] .calendar-month,
.calendar-root[data-nav-layout='after'] .calendar-month {
  position: relative;
}

.calendar-root[data-nav-layout='around'] .calendar-month_caption {
  justify-content: center;
  margin-inline-start: var(--rdp-nav_button-width);
  margin-inline-end: var(--rdp-nav_button-width);
  position: relative;
}

.calendar-root[data-nav-layout='around'] .calendar-button_previous {
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  height: var(--rdp-nav-height);
  display: inline-flex;
}

.calendar-root[data-nav-layout='around'] .calendar-button_next {
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  height: var(--rdp-nav-height);
  display: inline-flex;
  justify-content: center;
}

@utility calendar-months {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: var(--rdp-months-gap);
  max-width: fit-content;
}

@utility calendar-month_grid {
  border-collapse: collapse;
}

@utility calendar-nav {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;

  display: flex;
  align-items: center;

  height: var(--rdp-nav-height);
}

@utility calendar-weekday {
  opacity: var(--rdp-weekday-opacity);
  padding: var(--rdp-weekday-padding);
  font-weight: 500;
  font-size: smaller;
  text-align: var(--rdp-weekday-text-align);
  text-transform: var(--rdp-weekday-text-transform);
}

@utility calendar-week_number {
  opacity: var(--rdp-week_number-opacity);
  font-weight: 400;
  font-size: small;
  height: var(--rdp-week_number-height);
  width: var(--rdp-week_number-width);
  border: var(--rdp-week_number-border);
  border-radius: var(--rdp-week_number-border-radius);
  text-align: var(--rdp-weeknumber-text-align);
}

/* DAY MODIFIERS */
.calendar-today:not(.calendar-outside) {
  color: var(--rdp-today-color);
}

@utility calendar-selected {
  font-weight: var(--font-weight-semibold);
  & .calendar-day_button {
    border: var(--rdp-selected-border);
  }
}

@utility calendar-dar_button {
  font-weight: var(--font-weight-semibold);
  border: var(--rdp-selected-border);
}

@utility calendar-outside {
  opacity: var(--rdp-outside-opacity);
}

@utility calendar-disabled {
  opacity: var(--rdp-disabled-opacity);
}

@utility calendar-hidden {
  visibility: hidden;
  color: var(--rdp-range_start-color);
}

@utility calendar-range_start {
  background: var(--rdp-range_start-background);
}

.calendar-range_start .calendar-day_button {
  background-color: var(--rdp-range_start-date-background-color);
  border: 1px solid var(--rdp-accent-color);
  color: var(--rdp-range_start-color);
}

@utility calendar-range_middle {
  background-color: var(--rdp-range_middle-background-color);
  /* color-mix(in srgb, var(--rdp-accent-color) 10%, transparent); */
}

.calendar-range_middle .calendar-day_button {
  border: unset;
  border-radius: unset;
  color: var(--rdp-range_middle-color);
}

@utility calendar-range_end {
  background: var(--rdp-range_end-background);
  color: var(--rdp-range_end-color);
}

.calendar-range_end .calendar-day_button {
  color: var(--rdp-range_start-color);
  background-color: var(--rdp-range_end-date-background-color);
}

.calendar-range_start.calendar-range_end {
  background: revert;
}

@utility calendar-focusable {
  cursor: pointer;
}

.calendar-week .calendar-day:first-child.calendar-selected {
  border-top-left-radius: var(--radius-full);
  border-bottom-left-radius: var(--radius-full);
}

.calendar-week .calendar-day:last-child.calendar-selected {
  border-top-right-radius: var(--radius-full);
  border-bottom-right-radius: var(--radius-full);
}

@keyframes rdp-slide_in_left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rdp-slide_in_right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rdp-slide_out_left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes rdp-slide_out_right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@utility calendar-weeks {
  gap: 1rem;
}

@utility calendar-week {
  gap: 1rem;
}

@utility calendar-weeks_before_enter {
  animation: rdp-slide_in_left var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

@utility calendar-weeks_before_exit {
  animation: rdp-slide_out_left var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

@utility calendar-weeks_after_enter {
  animation: rdp-slide_in_right var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

@utility calendar-weeks_after_exit {
  animation: rdp-slide_out_right var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

.calendar-root[dir='rtl'] .calendar-weeks_after_enter {
  animation: rdp-slide_in_left var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

.calendar-root[dir='rtl'] .calendar-weeks_before_exit {
  animation: rdp-slide_out_right var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

.calendar-root[dir='rtl'] .calendar-weeks_before_enter {
  animation: rdp-slide_in_right var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

.calendar-root[dir='rtl'] .calendar-weeks_after_exit {
  animation: rdp-slide_out_left var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

@keyframes rdp-fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rdp-fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@utility calendar-caption_after_enter {
  animation: rdp-fade_in var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

@utility calendar-caption_after_exit {
  animation: rdp-fade_out var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

@utility calendar-caption_before_enter {
  animation: rdp-fade_in var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}

@utility calendar-caption_before_exit {
  animation: rdp-fade_out var(--rdp-animation_duration)
    var(--rdp-animation_timing) forwards;
}
