@utility combobox-trigger {
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs);
  position: relative;

  & > .input-wrapper > .input {
    padding-inline: calc(var(--spacing-xxl) - var(--spacing-xs));

    &:not(:disabled) {
      cursor: pointer;
    }
  }

  &[data-disabled='true'] {
    & .combobox-trigger-icon {
      opacity: 0.5;
    }
  }
}

@utility combobox-wrapper-separator {
  inline-size: 1px;
  block-size: 20px;
  background-color: var(--color-border-input);
  flex-shrink: 0;
}

@utility combobox-chevron {
  & > svg {
    inline-size: 1.25rem;
    block-size: 1.25rem;
    color: var(--color-text-body);
    flex-shrink: 0;
  }
}

@utility combobox-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-xxs);
}

@utility combobox-wrapper-icon {
  right: 0;
  margin-right: var(--spacing-md);
}

@utility combobox-search-icon {
  left: 0;
  margin-left: var(--spacing-md);
  inline-size: 1.25rem;
  block-size: 1.25rem;
}

.popover-content[data-slot='combobox-popover-content'] {
  padding: 0;
  max-inline-size: none;
  inline-size: var(--radix-popper-anchor-width);
}
