@utility section-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: var(--spacing-md);
  gap: var(--spacing-md);

  @variant md {
    padding: var(--spacing-lg);
    gap: var(--spacing-lg);
  }

  @variant lg {
    padding: var(--spacing-xxl);
  }
}
